code/Microsoft.Flow/flows/c39b261e-d5d6-4e0f-91eb-2eb74527bd05/definition.json
{"name":"08f65557-d267-4f5e-a54f-5e16fbdc0712","id":"/providers/Microsoft.Flow/flows/08f65557-d267-4f5e-a54f-5e16fbdc0712","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Create a Daily note for Obsidian","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"780f2024-fa34-498d-a64d-b3e95cc9e935","type":"User","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-25T22:51:20.622669Z","connectionKeySavedTimeKey":"2024-07-25T22:50:59.9957477Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"Pacific Standard Time","schedule":{"hours":["1"]}},"metadata":{"operationMetadataId":"d2c10fc6-0414-4265-a1f9-4e718d83dbcb"},"type":"Recurrence"}},"actions":{"Get_calendar_view_of_events_(V3)":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"f90be4eb-f64c-47e7-9b3d-c38aae7d3e89","flowSystemMetadata":{"swaggerOperationId":"GetEventsCalendarViewV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365_1']['connectionId']"},"api":{"runtimeUrl":"https://firstrelease-001.azure-apim.net/apim/office365"}},"method":"get","path":"/datasets/calendars/v3/tables/items/calendarview","queries":{"calendarId":"AAMkAGVhYzI5NzA0LTNjOTUtNGE1Ni04M2Y4LWEwMGNiMTM0NzdkMABGAAAAAADisuhdiLURS6LBBIf-mx_qBwBbsojF5Sr7RJcd9-zZRiY2AAAAokFlAABFZqpnv4-MSZ7ZWeRjURyjABwncYgPAAA=","startDateTimeUtc":"@{formatDateTime(variables('strTodayPT'),'yyyy-MM-dd')}T08:00:00","endDateTimeUtc":"@{addDays(variables('strTodayPT'),1,'yyyy-MM-dd')}T07:59:59","$filter":"isAllDay eq false","$orderby":"Start/DateTime asc"},"authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"Get_calendar_view_of_events_(V3)":["Succeeded"]},"metadata":{"operationMetadataId":"56cf057d-2ec4-45b2-b173-4c178e749b01"},"type":"Query","inputs":{"from":"@body('Get_calendar_view_of_events_(V3)')?['value']","where":"@not(contains(item()?['categories'], 'Personal'))"}},"Apply_to_each_2":{"foreach":"@body('Filter_array')","actions":{"Convert_time_zone":{"runAfter":{},"metadata":{"operationMetadataId":"9ae711c8-0ba4-44b3-8b18-50c921826a8a"},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@items('Apply_to_each_2')?['start']","formatString":"t","sourceTimeZone":"UTC","destinationTimeZone":"Pacific Standard Time"}},"Append_to_string_variable":{"runAfter":{"Convert_time_zone":["Succeeded"]},"metadata":{"operationMetadataId":"bded1efc-0415-4914-8a85-c3a4a995ebe9"},"type":"AppendToStringVariable","inputs":{"name":"strNewText","value":"> @{body('Convert_time_zone')} - @{items('Apply_to_each_2')?['subject']}@{variables('strNewLine')}"}}},"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"65405d8a-86a9-4a24-be0b-2f6a9e0a439f"},"type":"Foreach"},"Get_Daily_template_file_content":{"runAfter":{},"metadata":{"b!FtR665RX0E6AKS41pkTGGmgI-IMKiUJMm6mylCc63gFMxZqrcbsmSL_K_NLAGKpw.01KJXPVRMIVUNQ6T2AE5HZLQYGUX5TMSUJ":"/Documents/rbennett-remote/templates/Daily Agenda.md","operationMetadataId":"70da747f-65e0-4998-a387-5443bb4e7613","flowSystemMetadata":{"swaggerOperationId":"GetFileContent"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_onedriveforbusiness']['connectionId']"},"api":{"runtimeUrl":"https://firstrelease-001.azure-apim.net/apim/onedriveforbusiness"}},"method":"get","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('b!FtR665RX0E6AKS41pkTGGmgI-IMKiUJMm6mylCc63gFMxZqrcbsmSL_K_NLAGKpw.01KJXPVRMIVUNQ6T2AE5HZLQYGUX5TMSUJ'))}/content","queries":{"inferContentType":true},"authentication":"@parameters('$authentication')"}},"Store_Daily_template_text_in_strTemplate":{"runAfter":{"Get_Daily_template_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"5420d2e3-3f6e-4899-b187-17c4848ac4b4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"strTemplate","type":"string","value":"@{body('Get_Daily_template_file_content')}"}]}},"Create_file":{"runAfter":{"Append_Daily_template_text":["Succeeded"]},"metadata":{"operationMetadataId":"1a9c66a5-c755-47fd-88df-98a660ef3f53","flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_onedriveforbusiness']['connectionId']"},"api":{"runtimeUrl":"https://firstrelease-001.azure-apim.net/apim/onedriveforbusiness"}},"method":"post","body":"@variables('strNewText')","path":"/datasets/default/files","queries":{"folderPath":"/Documents/rbennett-remote/daily","name":"@{formatdatetime(variables('strTodayPT'),'yyyy-MM-dd')}.md"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Initialize_strNewText":{"runAfter":{"Store_tomorrow's_date_in_PT_in_strTomorrow":["Succeeded"]},"metadata":{"operationMetadataId":"d8ad3025-3e54-4530-8da0-16e5a420c789"},"type":"InitializeVariable","inputs":{"variables":[{"name":"strNewText","type":"string","value":"---@{variables('strNewLine')}cssclass: hide-title@{variables('strNewLine')}---@{variables('strNewLine')}\n# @{formatDateTime(variables('strTodayPT'),'dddd, MMMM dd, yyyy')} @{variables('strNewLine')}\n<- [@{formatDateTime(variables('strYesterday'),'MMM d')}](daily/@{formatDateTime(variables('strYesterday'),'yyyy-MM-dd')}.md) | [@{formatDateTime(variables('strTomorrow'),'MMM d')}](daily/@{formatDateTime(variables('strTomorrow'),'yyyy-MM-dd')}.md) | ->@{variables('strNewLine')}\n> [!calendar] # Meetings@{variables('strNewLine')}"}]}},"Initialize_strNewLine":{"runAfter":{"Store_Daily_template_text_in_strTemplate":["Succeeded"]},"metadata":{"operationMetadataId":"55c03bf6-8959-4efe-a6e1-77156fd14efd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"strNewLine","type":"string","value":"\n"}]}},"Append_Daily_template_text":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"7471771a-0215-49e0-a9bc-5b82f9442f03"},"type":"AppendToStringVariable","inputs":{"name":"strNewText","value":"@{variables('strNewLine')}---@{variables('strNewLine')}@{replace(variables('strTemplate'), '{{date:YYYY-MM-DD}}', formatdatetime(utcNow(), 'yyyy-MM-dd'))}"}},"Initialize_variable_2":{"runAfter":{"Initialize_strNewText":["Succeeded"]},"metadata":{"operationMetadataId":"58befaec-db27-4687-96ac-2f30d76736cc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"strStart","type":"string","value":"@{startOfDay(utcNow())}"}]}},"Store_today's_date_in_PT_in_strTodayPT":{"runAfter":{"Initialize_strNewLine":["Succeeded"]},"metadata":{"operationMetadataId":"627f8a66-f39e-4a35-a150-dfe0e4d87d67"},"type":"InitializeVariable","inputs":{"variables":[{"name":"strTodayPT","type":"string","value":"@{convertFromUtc(utcNow(),'Pacific Standard Time')}"}]}},"Store_tomorrow's_date_in_PT_in_strTomorrow":{"runAfter":{"Store_yesterday's_date_in_PT_in_strYesterday":["Succeeded"]},"metadata":{"operationMetadataId":"395ab5b9-de65-4c6b-a732-628e0f851399"},"type":"InitializeVariable","inputs":{"variables":[{"name":"strTomorrow","type":"string","value":"@{addToTime(variables('strTodayPT'),1,'Day','MMM d')}"}]}},"Store_yesterday's_date_in_PT_in_strYesterday":{"runAfter":{"Store_today's_date_in_PT_in_strTodayPT":["Succeeded"]},"metadata":{"operationMetadataId":"627f8a66-f39e-4a35-a150-dfe0e4d87d67"},"type":"InitializeVariable","inputs":{"variables":[{"name":"strYesterday","type":"string","value":"@{subtractFromTime(variables('strTodayPT'),1,'Day')}"}]}}},"outputs":{},"description":"Each day at 5am create a daily note in markdown for Obsidian"},"connectionReferences":{"shared_office365_1":{"connectionName":"shared-office365-fff16971-fb22-42f2-bb10-5f2e54e0590a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-932177bc-b1d5-42c5-831d-26d1bf073bb3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}